<!DOCTYPE html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div th:replace="common_header :: head"></div>
    登录页面
    <div >
        <form method="POST" action="/login">
            username:<input type="text" name="username" placeholder="username">
            password:<input type="password" name="password" placeholder="password">
            <input type="submit" value="登录">
        </form>
    </div>
</body>
</html>